<%= render "shared/header" %>
<%# <% @items.each do |item| %>
  <div class="container-xl custom-border mt-3 mb-3">
    <div class="row">
      <div class="col-4 ">
        <%= "装置名:" %>
        <%= "ベルトコンベア" %>
      </div>
      <div class="col-4">
        <%= "型番:" %>
        <%= "x1000" %>
      </div>
      <div class="col-4">
        <%= "シリアルナンバー:" %>
        <%= "1000034" %>
      </div>
      <div class="col-4 ">
        <%= "消耗品名:" %>
        <%= "ベルト" %>
      </div>
      <div class="col-4">
        <%= "消耗品型番:" %>
        <%= "x10001" %>
      </div>
      <div class="col-4">
        <%= "メーカー:" %>
        <%= "〇〇工業" %>
      </div>
      <div class="col-4 ">
        <%= "次回点検予定日:" %>
        <%= "2025-02-22" %>
      </div>
      <div class="col-4">
      </div>
      <div class="col-4">
        <div class="header-button">
              <%= link_to "編集", "#"  %>
        </div>      
      </div>
    </div>
  </div>
<%# <% end %> 
<div class="container-xl custom-border mt-3 mb-3">
  <div class="row">
    <div class="col-4 ">
      <%= "装置名:" %>
      <%= "ベルトコンベア" %>
    </div>
    <div class="col-4">
      <%= "型番:" %>
      <%= "x1000" %>
    </div>
    <div class="col-4">
      <%= "シリアルナンバー:" %>
      <%= "1000034" %>
    </div>
    <div class="col-4 ">
      <%= "消耗品名:" %>
      <%= "ベルト" %>
    </div>
    <div class="col-4">
      <%= "消耗品型番:" %>
      <%= "x10001" %>
    </div>
    <div class="col-4">
      <%= "メーカー:" %>
      <%= "〇〇工業" %>
    </div>
    <div class="col-4 ">
      <%= "次回点検予定日:" %>
      <%= "2025-02-22" %>
    </div>
    <div class="col-4">
    </div>
    <div class="col-4">
      <div class="header-button">
            <%= link_to "編集", "#"  %>
      </div>      
    </div>
  </div>
</div>