<%= render "shared/header" %>

<!-- app/views/items/index.html.erb -->

<div class="container mt-5">
  <!-- お知らせフォーム -->
  <div class="row mb-4">
    <div class="col">
      <h2 class="text-left">点検が近い消耗品のお知らせ</h2>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="mb-3">
      <%= form_with url: items_path, method: :get, local: true do |form| %>
        <div class="form-group">
          <%= form.label :days, "日" %>
          <%= form.number_field :days, value: params[:days], class: "form-select" %>
          <%= form.submit "検索", class: "btn btn-primary" %>
        </div>  
      <% end %>
    </div>
  <% end %>

  <div class="scrollable-content-large">
    <% @near_inspection_items.each do |item_with_dates| %>
      <div class="container-xl custom-border mt-3 mb-3">
        <div class="row">
          <div class="col-12 col-md-4">
            <strong>装置名:</strong>
            <%= item_with_dates[:item].equipment_name %>
          </div>
          <div class="col-12 col-md-4">
            <strong>型番:</strong>
            <%= item_with_dates[:item].equipment_model_number %>
          </div>
          <div class="col-12 col-md-4">
            <strong>シリアルナンバー:</strong>
            <%= item_with_dates[:item].serial_number %>
          </div>
          <div class="col-12 col-md-4">
            <strong>消耗品名:</strong>
            <%= item_with_dates[:item].consumable_name %>
          </div>
          <div class="col-12 col-md-4">
            <strong>消耗品型番:</strong>
            <%= item_with_dates[:item].consumable_model_number %>
          </div>
          <div class="col-12 col-md-4">
            <strong>メーカー:</strong>
            <%= item_with_dates[:item].consumable_maker %>
          </div>
          <div class="col-12 col-md-4 highlight-date">
            <strong>次回点検予定日:</strong>
            <%= item_with_dates[:next_maintenance_day] %>
          </div>
          <div class="col-12 col-md-4">
            <div class="header-button">
              <%= link_to "詳細", item_path(item_with_dates[:item]), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <!-- 境界線 -->
  <hr class="my-5 border-top border-secondary">

<div class="container mt-5">
  <!-- ソートリンク -->
  <div class="row mb-4">
    <div class="col">
      <h2 class="text-left">登録されたアイテム一覧</h2>
      <%= form_with url: items_path, method: :get, local: true, id: 'sort_form' do %>
          <%= select_tag :sort, options_for_select([
            ['点検日が近い', 'next_inspection_date_asc'],
            ['点検日が遅い', 'next_inspection_date_desc'],
            ['装置名昇順', 'equipment_name_asc'],
            ['装置名降順', 'equipment_name_desc'],
            ['消耗品昇順', 'consumable_name_asc'],
            ['消耗品降順', 'consumable_name_desc'],
            ['登録日昇順', 'created_at_asc'],
            ['登録日降順', 'created_at_desc']
          ], params[:sort]), class: 'form-select', onchange: 'this.form.submit();' %>
        <% end %>
    </div>
  </div>
  <div class="scrollable-content-large">
      <% @items_with_maintenance_dates.each do |item_with_dates| %>
        <div class="container-xl custom-border mt-3 mb-3">
          <div class="row">
            <div class="col-12 col-md-4">
              <strong>装置名:</strong>
              <%= item_with_dates[:item].equipment_name %>
            </div>
            <div class="col-12 col-md-4">
              <strong>型番:</strong>
              <%= item_with_dates[:item].equipment_model_number %>
            </div>
            <div class="col-12 col-md-4">
              <strong>シリアルナンバー:</strong>
              <%= item_with_dates[:item].serial_number %>
            </div>
            <div class="col-12 col-md-4">
              <strong>消耗品名:</strong>
              <%= item_with_dates[:item].consumable_name %>
            </div>
            <div class="col-12 col-md-4">
              <strong>消耗品型番:</strong>
              <%= item_with_dates[:item].consumable_model_number %>
            </div>
            <div class="col-12 col-md-4">
              <strong>メーカー:</strong>
              <%= item_with_dates[:item].consumable_maker %>
            </div>
            <div class="col-12 col-md-4 highlight-date">
              <strong>次回点検予定日:</strong>
              <%= item_with_dates[:next_maintenance_day] %>
            </div>
            <div class="col-12 col-md-4">
            </div>
            <div class="col-12 col-md-4">
              <div class="header-button">
                <%= link_to "詳細", item_path(item_with_dates[:item]), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>