<%= render "shared/second-header" %>

<div class="container mt-5">
  <h2>アイテム詳細</h2>
  <div class="row">
    <div class="col-12 col-md-4 mb-2">
      <strong>装置名:</strong>
      <%= @item.equipment_name %>
    </div>
    <div class="col-12 col-md-4 mb-2">
      <strong>型番:</strong>
      <%= @item.equipment_model_number %>
    </div>
    <div class="col-12 col-md-4 mb-2">
      <strong>シリアルナンバー:</strong>
      <%= @item.serial_number %>
    </div>
    <div class="col-12 col-md-4 mb-2">
      <strong>消耗品名:</strong>
      <%= @item.consumable_name %>
    </div>
    <div class="col-12 col-md-4 mb-2">
      <strong>消耗品型番:</strong>
      <%= @item.consumable_model_number %>
    </div>
    <div class="col-12 col-md-4 mb-2">
      <strong>メーカー:</strong>
      <%= @item.consumable_maker %>
    </div>
    <div class="col-12 col-md-4 mb-2">
      <strong>点検周期:</strong>
      <%= @item.inspection_interval %>
    </div>
    <div class="col-12 col-md-4 mb-2">
      <strong>使用開始日:</strong>
      <%= @item.start_date %>
    </div>
    <div class="form-group mb-4 col-12 col-md-4 mb-2">
    <%= link_to '編集', edit_item_path, class: 'btn btn-secondary ml-4' %>
    </div>
  </div>

  <h3>点検情報</h3>
  <div class="row">
    <div class="col-12 col-md-4 mb-2">
      <strong>前回点検日:</strong>
      <%= @previous_inspection_date %>
    </div>
    <div class="col-12 col-md-4 mb-2">
      <strong>点検予定日:</strong>
      <%= @next_maintenance_day %>
    </div> 
  </div>

  <h3>新しい点検情報を追加</h3>
  <%= form_with(model: [@item, @maintenance_history], local: true) do |form| %>
    <div class="form-group highlight-date mb-4">
      <%= form.label :exchange_date, "点検作業日" %>
      <%= form.date_field :exchange_date, class: 'form-control', id: 'exchange_date' %>
    </div>

    <div class="form-group highlight-date mb-4">
      <%= form.label :next_maintnance_day, "次回交換予定日" %>
      <%= form.date_field :next_maintnance_day, class: 'form-control', id: 'next_maintenance_day', required: true %>
    </div>

    <%= hidden_field_tag :inspection_interval, @item.inspection_interval, id: 'inspection_interval' %>

    <div class="form-group mb-4">
      <%= form.label :maintenance_comment, "コメント" %>
      <%= form.text_area :maintenance_comment, class: 'form-control' %>
    </div>

    <div class="form-group mb-4">
      <%= form.label :worker, "実施者" %>
      <%= form.text_field :worker, class: 'form-control' %>
    </div>

    <div class="form-group mb-4">
      <%= form.submit '登録', class: 'btn btn-primary' %>
      <%= link_to '削除', item_path, data: { turbo_method: :delete },  class: 'btn btn-danger ml-4' %>
      <%= link_to '戻る', items_path, class: 'btn btn-secondary ml-4' %>
    </div>
  <% end %>
</div>